---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import ProductGallery from "../components/ProductGallery.astro";
---

<Layout title="Bsheep">
	<main>
		<Header />
		<div class="flex w-full h-full">
			<div class="w-full bg-red-400 m-2">
				<ProductGallery />
			
		</div>
	</main>
</Layout>
