---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import ProductGallery from "../components/ProductGallery.astro";
---

<Layout title="Bsheep">
	<main>
		<Header />
		<div class="flex w-full h-full">
			<div class="w-1/4 h-screen bg-green-300 m-2"></div>
			<div class="w-3/4 bg-red-400 m-2">
				<ProductGallery />
			</div>
		</div>
	</main>
</Layout>
