---
import { secciones } from "../utils/constants";
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Navbar Example</title>
  </head>
  <body>
    <nav
      id="navbar"
      class="fixed top-0 w-full bg-transparent z-50 transition-all duration-700 p-1 pr-3"
    >
      <div class="w-full flex flex-wrap items-center justify-between p-15">
        <a href="#" class="flex items-center space-x-3 rtl:space-x-reverse">
          <img
            id="navbar-logo"
            src="/LOGO_BLANCO.png"
            class="h-20"
            alt="Bsheep Logo"
          />
        </a>
        <button
          id="button-responsive-nav"
          data-collapse-toggle="navbar-default"
          class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm
           text-gray-500 rounded-lg md:hidden
           focus:outline-none focus:ring-2 focus:ring-gray-200"
          aria-controls="navbar-default"
          aria-expanded="false"
        >
          <span class="sr-only">Open main menu</span>
          <svg
            class="w-5 h-5"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 17 14"
          >
            <path
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M1 1h15M1 7h15M1 13h15"></path>
          </svg>
        </button>

        <div class="hidden w-full md:block md:w-auto" id="navbar-resp-default">
          <ul
            class="font-medium flex flex-col items-center justify-center
            p-4 md:p-0 mt-4 xl:border xl:border-gray-100
            rounded-lg bg-transparent md:flex-row md:space-x-8
            rtl:space-x-reverse md:mt-0 md:border-0"
          >
            {
              secciones.map((seccion) => (
                <li>
                  <a
                    href={seccion.url}
                    class="block py-2 px-3 text-white rounded md:p-0 
                    hover:bg-gray-300 hover:underline"
                  >
                    {seccion.name}
                  </a>
                </li>
              ))
            }
          </ul>
        </div>
      </div>
    </nav>

    <!-- Script para manejar el fondo del navbar en modo hamburguesa y con scroll -->
    <script>
      // Manejo del click en el botón hamburguesa
      function handleClick() {
        const navbarResp = document.getElementById("navbar-resp-default");
        const navbar = document.getElementById("navbar");

        navbarResp?.classList.toggle("hidden");
        
        // Asegurar que el fondo es blanco cuando el menú hamburguesa está abierto
        if (!navbarResp.classList.contains("hidden")) {
          navbar.classList.add("bg-white", "menu-open");
          navbar.classList.remove("bg-transparent");
        } else {
          // Mantenemos el fondo blanco si el menú hamburguesa está cerrado, pero
          // solo si no se ha hecho scroll (ver manejo en scroll event más abajo)
          if (window.scrollY === 0) {
            navbar.classList.remove("menu-open");
            navbar.classList.add("bg-transparent");
            navbar.classList.remove("bg-white");
          }
        }
      }

      document
        .getElementById("button-responsive-nav")
        ?.addEventListener("click", handleClick);

      // Manejo del scroll para cambiar el fondo cuando no está en modo hamburguesa
      document.addEventListener("DOMContentLoaded", function () {
        window.addEventListener("scroll", function () {
          var navbar = document.getElementById("navbar");
          var logo = document.getElementById("navbar-logo");
          var navbarResp = document.getElementById("navbar-resp-default");
          
          // Solo cambiar el estilo si el menú hamburguesa está oculto
          if (navbar && navbarResp.classList.contains("hidden")) {
            var links = navbar.querySelectorAll("a");

            if (window.scrollY > 0) {
              // Cambiar estilo cuando se hace scroll
              navbar.classList.add("bg-white");
              navbar.classList.remove("bg-transparent");
              links.forEach((link) => {
                link.classList.add("text-black");
                link.classList.remove("text-white");
              });
              logo?.setAttribute("src", "/LOGO_NEGRO.png");
            } else {
              // Cambiar de vuelta cuando no hay scroll
              if (!navbar.classList.contains("menu-open")) {
                navbar.classList.add("bg-transparent");
                navbar.classList.remove("bg-white");
              }
              links.forEach((link) => {
                link.classList.add("text-white");
                link.classList.remove("text-black");
              });
              logo?.setAttribute("src", "/LOGO_BLANCO.png");
            }
          }
        });
      });
    </script>
  </body>
</html>